$color-blue: #3e5bff;
$color-yellow: #fce764;
$color-pink: #fe99a8;

$breakpoint-smartphone: 375px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1400px;

$font-family-text: "Roboto", sans-serif;
$font-family-header: "Poppins", sans-serif;

$font-weight-text: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;
