@import "../parts/variables";
@import "../parts/mixins";

.devices {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;

  @media screen and (max-width: $breakpoint-tiny - 1) {
    display: none;
  }

  @media screen and (min-width: $breakpoint-smartphone) {
    left: 20px;
    right: 20px;
  }

  // iPhone 6/7/8
  @media screen and (min-width: $breakpoint-smartphone) and (min-height: 667px) {
    @include transform(translateY(10%));
  }

  // iPhone 6/7/8 Plus
  @media screen and (min-width: $breakpoint-smartphone) and (min-height: 736px) {
    @include transform(translateY(0));
  }

  @media screen and (min-width: $breakpoint-tablet) {
    left: 30px;
    right: 30px;
    width: calc(100% - 60px);
  }

  .devices-inner {
    picture {
      @include flexbox();
      @include justify-content(flex-end);

      // cup
      &:first-child {
      }

      // laptop
      &:nth-child(2) {
      }
    }
  }
}
